<!DOCTYPE html>
<html>
  <head>
    <title>Lab Express Basic Authentication</title>
    <link rel='stylesheet' href='/styles/style.css' />
  </head>
  <body>
    <nav>
      <a href="/">Home</a>
      <a href="/authentication/sign-up">Sign-up</a>
      <a href="/authentication/sign-in">Sign-in</a>
      <a href="/profile">Profile</a>
    </nav>
    {{{body}}}
  </body>
</html>
