<h1>You need to Sign In</h1>

<form method="POST">
  <label for="input-email">Email</label>
  <input id="input-email" type="email" name="email" placeholder="A valid email">

  <label for="input-password">Password</label>
  <input id="input-password" type="password" name="password" placeholder="A strong password">

  <button>Sign In</button>

  <p>You don't have an account yet?</p>
  <a href="/authentication/sign-up">Sign-up</a>

</form>